﻿@model BlackJack.ViewModels.ViewModels.GameController.ListGamePlayerViewModel

@{
    ViewBag.Title = "Enough";
}

<h2>Winner</h2>

<table id="myDataTable" style="width: 70%; height: 50%" class="table table-bordered table-hover">

    @if (!Model.GamePlayers.Any())
    {
        <h2>Game over</h2>
    }

    @foreach (var player in Model.GamePlayers)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => player.Name)</td>
            <td>@Html.DisplayFor(modelItem => player.Score)</td>
        </tr>
    }
</table>

@Html.ActionLink("Game History", "GameHistories", "Game", new { @class = "btn btn-success" })