﻿
<div id="example">
    <div id="grid" style="width:80%;"></div>
    <script>
            $(document).ready(function () {
                $("#grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: "@Url.Action("GetHistories", "Game")"
                        },
                        schema: {
                            model: {
                                id: "Id",
                                fields: {
                                    Name: { type: "string" },
                                    CountPlayer: { type: "number" },
                                    Id: { type: "string"}
                                }
                            }
                        },
                        pageSize: 20
                    },
                    height: 550,
                    groupable: true,
                    sortable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    columns: [{
                        field: "Name",
                        title: "Name",
                        width: 240
                    }, {
                        field: "CountPlayer",
                        title: "Count Player",
                        width: 240
                    }, {
                        field: "Id",
                        template: function (dataItem) {
                            return '<a class=k-button href=/Game/GameDetails/' + dataItem.id + '> Details</a>';
                        }
                    }
                    ]
                });
            });
        </script>
</div>