﻿@model BlackJack.ViewModels.ViewModels.GameController.GameDetailsGameView

<h2>GameDetails</h2>

<div id="example">
    <div id="grid"></div>

    <script id="gamePlayers-template" type="text/x-kendo-template">
        #for (var i = 0; i < GamePlayers.length; i++) {#
        <li><span>#=GamePlayers[i].Score + " " + GamePlayers[i].PlayerName#</span></li>
        #}#
    </script>

    <script id="winners-template" type="text/x-kendo-template">
        #for (var i = 0; i < Winners.length; i++) {#
        <li><span>#=Winners[i].PlayerName#</span></li>
        #}#
    </script>

    <script>
        $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "@Url.Action("GetGameDetails", "Game", new { id = Model.Id })"
                    },
                    schema: {
                        //parse: function (response) {
                        //    var products = [];
                        //    for (var i = 0; i < response.Rounds.length; i++) {
                        //        var product = {
                        //            roundNumber: response[i].RoundNumber
                        //        };
                        //        products.push(product);
                        //    }
                        //    return products;
                        //}

                        model: {
                            parse: function (d) {
                                for (var i = 0; i < d.length; i++) {
                                    if (d[i]) {
                                        return d[i];
                                    }
                                }
                                return [];
                            }
                        },
                    },
                    pageSize: 20
                }, columns: [{
                    field: "RoundNumber",
                    title: "RoundNumber",
                    width: "180px",
                }
                    , {
                    field: "GamePlayers",
                    title: "GamePlayers",
                    template: kendo.template($("#gamePlayers-template").html())
                }, {
                    field: "Winners",
                    title: "Winners",
                    template: kendo.template($("#winners-template").html())
                    }
                ]
            });
        });
    </script>

    <br>

    @if(Model.IsOver == false)
    {
        <a class=k-button href=/Game/Game/@Model.Id>Continue Game</a>
    }
</div>