﻿@model BlackJack.ViewModels.ViewModels.GameController.ListRoundViewModel
@{
    ViewBag.Title = "Game";
}

<h2>Black Jack</h2>

<table id="myDataTable" style="width: 70%; height: 50%" class="table table-bordered table-hover">
    <tr>
        <th>Player</th>
        <th>Card</th>
        <th>Suit of card</th>
        <th>Score</th>
    </tr>

    @if (Model != null)
    {
        foreach (var round in Model.Rounds)
        {
            <tr>
                <th>Round: @round.RoundNumber</th>
            </tr>

            <tr>
                @foreach (var player in round.GamePlayers)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => player.Name)</td>
                    <td>@Html.DisplayFor(modelItem => player.RankCard)</td>
                    <td>@Html.DisplayFor(modelItem => player.Suit)</td>
                    <td>@Html.DisplayFor(modelItem => player.Score)</td>
                </tr>

            }
                </tr>
            }
        }
</table>

<p><a href="/Game/Take/@Model.Rounds.Select(s=>s.GameHistoryId).FirstOrDefault()" class="btn btn-success">Take</a></p>

<p><a href="/Game/Enough/@Model.Rounds.Select(s=>s.GameHistoryId).FirstOrDefault()" class="btn btn-danger">Enough</a></p>