﻿<!DOCTYPE html>
    <html>
    <head>
        <title></title>
        <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
    </head>
    <body>

        <div id="example">
            <div class="demo-section k-content">
                <h4>Type your name</h4>
                <input id="products" placeholder="Enter your name" style="width: 20%;" />
            </div>

            <div id="tshirt-view" class="demo-section k-content">
                <h4>Select numbers of bots</h4>
                <select id="bots" placeholder="Select bots..." style="width: 20%;">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>

                <button class="k-button k-primary" id="get" style="float: initial;">Create</button>
            </div>

            <script id="noDataTemplate" type="text/x-kendo-tmpl">
                <div>
                    No data found. Do you want to add new item - '#: instance.text() #' ?
                </div>
                <br />
                <button class="k-button" onclick="addNew('#: instance.element[0].id #', '#: instance.text() #')">Add new name</button>
            </script>

            <script>
                function addNew(widgetId, value) {
                    var widget = $("#" + widgetId).getKendoComboBox();
                    var dataSource = widget.dataSource;

                    if (confirm("Are you sure?")) {
                        dataSource.add({
                            Name: value
                        });

                        dataSource.one("sync", function () {
                            widget.select(dataSource.view().length - 1);
                        });
                        dataSource.sync();
                    }
                };
            </script>

            <script>
                    $(document).ready(function () {
                        var dataSource = new kendo.data.DataSource({
                            batch: true,
                            transport: {
                                read: {
                                    url: "@Url.Action("GetUser", "Game")",
                                    dataType: "json"
                                },
                                create: {
                                    url: "@Url.Action("CreateUser", "Game")",
                                    dataType: "jsonp",
                                    contentType: "application/json; charset=utf-8"
                                },
                                parameterMap: function (options, operation) {
                                    if (operation !== "read" && options.models) {
                                        return { models: kendo.stringify(options.models) };
                                    }
                                }
                            },
                            schema: {
                                model: {
                                    id: "Id",
                                    fields: {
                                        Id: { type: "number" },
                                        Name: { type: "string" }
                                    }
                                }
                            }
                        });

                        $("#products").kendoComboBox({
                            filter: "startswith",
                            dataTextField: "Name",
                            dataValueField: "Id",
                            dataSource: dataSource,
                            noDataTemplate: $("#noDataTemplate").html()
                        });
                    });
            </script>

        </div>

        <script>
            $(document).ready(function () {

                $("#bots").kendoComboBox();

                var name = $("#products").data("kendoComboBox");
                var bot = $("#bots").data("kendoComboBox");

                $("#get").click(function () {
                    $.get('/Game/CreateUser', { 'name': name.text(), 'bot': bot.value() }, function (data) {
                        $('#example').html(data);
                    });
                });
            });
        </script>

        <p></p>

        @Html.ActionLink("Game History", "GameHistories", "Game", new { @class = "btn btn-success" } )

    </body>
    </html>
