﻿@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
    <script type="text/javascript" src="~/BlackJackApp/dist/BlackJackApp/runtime.js"></script>
    <script type="text/javascript" src="~/BlackJackApp/dist/BlackJackApp/polyfills.js"></script>
    <script type="text/javascript" src="~/BlackJackApp/dist/BlackJackApp/styles.js"></script>
    <script type="text/javascript" src="~/BlackJackApp/dist/BlackJackApp/vendor.js"></script>
    <script type="text/javascript" src="~/BlackJackApp/dist/BlackJackApp/main.js"></script>
    <script type="text/javascript" src="~/BlackJackApp/dist/BlackJackApp/game-game-module.js"></script>
    <script type="text/javascript" src="~/BlackJackApp/dist/BlackJackApp/enough-enough-module.js"></script>
    <script type="text/javascript" src="~/BlackJackApp/dist/BlackJackApp/history-history-module.js"></script>
    <script type="text/javascript" src="~/BlackJackApp/dist/BlackJackApp/detail-detail-module.js"></script>
}

<app-root></app-root>