<!-- <form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)"> -->
<form #myForm="ngForm" novalidate>
    <label>Type your name</label>
    <!-- <input class="form-control" name="userName" [(ngModel)]="name" required placeholder="Enter your name"/> -->
    <div class="form-group">

    <kendo-dropdownlist
        [data]="data"
        [filterable]="true"
        [textField]="'name'"
        [valueField]="''"
        (filterChange)="handleFilter($event)"
        [(ngModel)]="selectedName"
        name = "selectedName">
        <ng-template kendoDropDownListNoDataTemplate>
          <div>
              No data found.
              <ng-container *ngIf="filter">Do you want to add new item - '{{ filter }}' ?</ng-container>
              <br />
              <button *ngIf="filter" class="k-button" (click)="addNew()">Add new item</button>
          </div>
        </ng-template>
    </kendo-dropdownlist>
  </div> 

  <label>Select numbers of bots</label>
  <div class="form-group">
    <kendo-dropdownlist
      [data]="listBots"
      [(ngModel)]="numberBots"
      name="numberBots">
    </kendo-dropdownlist>
</div>

  <!-- <div class="form-group">
    <h4>Select numbers of bots</h4>
    <select class="form-control" name="bots" [(ngModel)]="numberBots" required placeholder="Select bots...">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div> -->

  <div class="form-group">
    <input type="submit" (click)="submit(selectedName.name, numberBots)" [disabled]="myForm.invalid" class="btn btn-default" value="Start game" />
  </div>
</form>
<router-outlet></router-outlet>