<div *ngIf="done">

  <div class="row">
    <div class="col-md-1 col-md-offset-5 form-group">
      <button (click)="enough()" class="btn btn-danger">Enough</button>
    </div>

    <div class="col-md-1 form-group">
      <button (click)="take()" class="btn btn-success">Take</button>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-primary col-md-2 col-md-offset-2">
      <div *ngFor="let user of userScore" class="panel-heading">
        {{user.playerName}}
        {{user.score}}
      </div>
      <div *ngFor="let item of score" class="panel-body">
        {{item.playerName}}
        {{item.score}}
      </div>
    </div>

    <div class="vcenter">
      <ng-container *ngFor="let round of listRoundViewModel.rounds">
        <div class="col-md-8">
          <div class="panel panel-success">
            <div *ngIf="round.roundNumber > 1" class="panel-heading">
              Round: {{round.roundNumber}}
            </div>
            <div *ngFor="let player of round.gamePlayers" class="panel-body">
              {{player.name}}
              {{player.rankCard}}
              {{player.suit}}
            </div>
          </div>
        </div>
      </ng-container>
    </div>

  </div>
</div>

<!-- <div class="row">
      <div class="col-md-2 vcenter">
        One of three columns
      </div>
      <div class="col-md-2 vcenter">
        One of three columns
      </div>
      <div class="col-md-2 vcenter">
        One of three columns
      </div>
    </div> -->