<h2>Game is over</h2>
<div *ngIf="done">
    <div *ngIf="responseEnoughGame.gamePlayers.length==0">
        <h2>Too many points</h2>
    </div>
    <table *ngIf="responseEnoughGame.gamePlayers.length > 0" class="table table-bordered table-hover">
        <tr *ngFor="let player of responseEnoughGame.gamePlayers">
            <th>
                {{player.name}}
            </th>
            <th>
                {{player.score}}
            </th>
        </tr>
    </table>
</div>