<br>
<div *ngIf="done">
    <div class="row">
        <div class="col-md-5">
            <div *ngFor="let round of gameDetails.rounds">
                <div class="badge">
                    Round: {{round.roundNumber}}
                </div>
                <div *ngFor="let gamePlayer of round.gamePlayers" class="panel-body">
                    {{gamePlayer.playerName}} |
                    {{gamePlayer.rankCard}}
                    {{gamePlayer.suit}}
                    <div>
                        Current score: {{gamePlayer.score}}
                    </div>
                </div>
                <hr>
            </div>
            <div *ngIf="gameDetails.isOver==false" class="col-md-1">
                <input type="submit" (click)="continue()" class="btn btn-success" value="Сontinue game" />
            </div>
        </div>

        <div *ngIf="gameDetails.isOver" class="col-md-1">
            <div class="badge">
                Winner:
            </div>
            <div *ngFor="let round of gameDetails.rounds">
                <ng-container *ngFor="let winner of round.winners">
                    {{winner.playerName}}
                </ng-container>
            </div>
        </div>
    </div>