<div *ngIf="done">
    <kendo-grid [data]="gameHistory.gameHistories" [height]="410">
        <kendo-grid-column field="countPlayer" title="Count" width="40">
        </kendo-grid-column>
        <kendo-grid-column field="name" title="Name" width="250">
        </kendo-grid-column>
        <kendo-grid-column field="id" title="Continue" width="250">
            <ng-template kendoGridCellTemplate let-dataItem>
                <!-- <input type="checkbox" [checked]="dataItem.Discontinued" disabled/> -->
                <input type="button" [routerLink]="['/detail', dataItem.id]" value="Detail" class="btn btn-default" />
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>